<ul class="more-group">
    <li class="more-item">联系我们</li>
    <li class="more-line"></li>
    <li class="more-item">问题反馈</li>
    <li class="more-line"></li>
    <li class="more-item">告诉朋友</li>
</ul>
<ul class="more-group">
    <li class="more-item">检查更新</li>
    <li class="more-line"></li>
    <li class="more-item">关于我们</li>
</ul>
<ul class="more-group">
    <li class="more-item">联系我们</li>
    <li class="more-line"></li>
    <li class="more-item">问题反馈</li>
    <li class="more-line"></li>
    <li class="more-item">告诉朋友</li>
</ul>
<ul class="more-group">
    <li class="more-item">检查更新</li>
    <li class="more-line"></li>
    <li class="more-item">关于我们</li>
</ul>
<ul class="more-group">
    <li class="more-item">联系我们</li>
    <li class="more-line"></li>
    <li class="more-item">问题反馈</li>
    <li class="more-line"></li>
    <li class="more-item">告诉朋友</li>
</ul>
<ul class="more-group">
    <li class="more-item">检查更新</li>
    <li class="more-line"></li>
    <li class="more-item">关于我们</li>
</ul>
