.ui-header {
    background-color: #203854;
    color: #FFFFFF;
    font-size: 16px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    position: relative;
}

.ui-header-title {
    text-align: center;
}

.ui-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    padding-bottom: 92px;
}