.content-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px 10px 50px;
    font-size: 14px;
}

.content-content p {
    line-height: 25px;
    text-indent: 2em;
    font-size: 14px;
    margin-bottom: 10px;
}

.content-content img {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.content-area {
    margin: 10px auto;
    width: 90%;
}

.content-area p {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}

.content-area textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
    height: 200px;
    font-size: 14px;
    margin-bottom: 30px;
}

.content-area div {
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 300px;
    text-align: center;
    background-color: #f3542d;
    color: #FFFFFF;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px 5px;
}
