.more-index {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 46px;
    left: 10px;
    bottom: 0;
    right: 10px;
    padding: 10px 0;
}

.more-index-line {
    height: 0;
    border-top: 1px solid #d3d3d3;
}

.more-index-space {
    height: 20px;
}

.more-index-item {
    display: block;
    color: #000000;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-right: 30px;
    background: url("img/more-back.png") scroll right center no-repeat #FFFFFF;
    background-size: 20px 15px;
    border: 1px solid #d3d3d3;
    border-top: none;
    overflow: hidden;
}

.more-phone, .more-suggest, .more-us, .more-new, .more-login, .more-password, .more-introduce {
    display: inline-block;
    padding-left: 30px;
    margin-left: 10px;
    background: #FFFFFF no-repeat scroll left center;
    background-size: 20px 20px;
}

.more-phone {
    background-image: url("img/more-phone.png");
    background-size: 20px 20px;
}

.more-login {
    background-image: url("img/more-login.png");
    background-size: 20px 18px;
}

.more-suggest {
    background-image: url("img/more-suggest.png");
    background-size: 19px 21px;
}

.more-new {
    background-image: url("img/more-new.png");
    background-size: 19px 20px;
}

.more-password {
    background-image: url("img/more-password.png");
    background-size: 25px 13px;
}

.more-introduce {
    background-image: url("img/more-introduce.png");
    background-size: 22px 22px;
}

.more-login-area {
    margin: 10px auto;
    width: 90%;
}

.more-login-form {
    margin-bottom: 30px;
}

.more-login-button {
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 300px;
    text-align: center;
    background-color: #f3542d;
    color: #FFFFFF;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px 5px;
}

.more-login-item {
    background-color: #FFFFFF;
    display: block;
    color: #000000;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #d3d3d3;
    border-top: none;
}

.more-login-item input {
    margin-left: 10px;
    height: 40px;
    border: none;
    background: none;
    width: 160px;
    font-size: 14px;
}

.more-welcome-img {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    bottom: 160px;
    overflow: hidden;
}

.more-welcome-img img {
    width: 100%;
}

.more-welcome-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 160px;
    background-color: #f3542d;
    overflow: hidden;
}

.more-welcome-content-title {
    color: #ffd8cf;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    padding-top: 30px;
}

.more-welcome-content-message {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.more-welcome-content-status, .more-welcome-end-status {
    width: 100%;
    height: 10px;
    line-height: 10px;
    text-align: center;
}

.more-welcome-end-status {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.more-welcome-content-status span, .more-welcome-end-status span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("img/more-welcome.png") no-repeat scroll center center;
    background-size: 8px 8px;
    padding: 0 5px;
}

.more-welcome-content-status span.active, .more-welcome-end-status span.active {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("img/more-welcome-active.png") no-repeat scroll center center;
    background-size: 8px 8px;
}

.more-welcome-end {
    background: linear-gradient(#f96c1b 0%, #f9591b 100%);
    background: -ms-linear-gradient(#f96c1b 0%, #f9591b 100%);
    background: -moz-linear-gradient(#f96c1b 0%, #f9591b 100%);
    background: -webkit-linear-gradient(#f96c1b 0%, #f9591b 100%);
}

.more-end-content {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: 50%;
    margin-top: -125px;
    background: url("img/more-end-content.png") no-repeat center center;
    background-size: 320px 251px;
}

.more-welcome-end-title {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    height: 70px;
    padding-top: 70px;
}

.more-welcome-end-button {
    width: 169px;
    height: 34px;
    margin: 60px auto 0;
    background: url("img/more-end-button.png") no-repeat scroll center;
    background-size: 169px 34px;
}

.more-suggest-img {
    width: 100%;
}

.more-suggest-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    color: #f3542d;
}

.more-suggest-content {
    padding: 0 10px;
    margin-bottom: 20px;
}

.more-suggest-content p {
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 5px;
}