.search-cancel {
    width: 50px;
    float: right;
    height: 46px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 46px;
}

.search-block {
    margin: 9px 50px 9px 9px;
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    border-radius: 5px 5px;
}

.search-select, .search-select-active {
    padding-right: 13px;
    float: left;
    color: #919191;
    width: 25px;
    height: 28px;
    font-size: 12px;
    margin-left: 5px;
}

.search-select-active {
    background: url("img/search-arrow.png") no-repeat scroll right center transparent;
    background-size: 11px 6px;
}

.search-submit {
    background: url("img/search-submit.png") no-repeat scroll right center transparent;
    background-size: 13px 13px;
    float: right;
    color: #919191;
    width: 35px;
    height: 28px;
    font-size: 12px;
    margin-right: 5px;
}

.search-input {
    margin-right: 40px;
    margin-left: 50px;
    height: 28px;
}

.search-list {
    position: absolute;
    top: 46px;
    bottom: 50px;
    left: 0;
    width: 100%;
}

.search-clear {
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 80%;
    height: 40px;
    background-color: #f3542d;
    border-radius: 5px 5px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
}

.search-item {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}