.shop-city-icon {
    display: inline-block;
    height: 100%;
    background: url("img/header-arrow.png") no-repeat scroll right center transparent;
    background-size: 11px 6px;
    padding-right: 15px;

}

.shop-index-content {
    width: 100%;
    background-color: #f6f6f6;
    position: absolute;
    top: 92px;
    left: 0;
    bottom: 0;
}

.shop-index-advertisement {
    height: 135px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.shop-index-type {
    min-height: 316px;
    max-width: 408px;
    width: 100%;
}

.shop-index-type-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #e4e1da;
    border-bottom: 1px solid #e4e1da;
    background: linear-gradient(#f7f6f5 0%, #f1f0ee 100%);
    background: -ms-linear-gradient(#f7f6f5 0%, #f1f0ee 100%);
    background: -moz-linear-gradient(#f7f6f5 0%, #f1f0ee 100%);
    background: -webkit-linear-gradient(#f7f6f5 0%, #f1f0ee 100%);
    width: 25%;
    height: 97px;
    float: left;
}

.shop-index-type-item img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px auto 0;
}

.shop-index-type-item span {
    display: block;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #0E0E0E;
    font-size: 14px;
}

.shop-type-left {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 46px;
    left: 0;
    bottom: 0;
}

.shop-type-left-item {
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-left: 1px solid transparent;
    font-size: 16px;
}

.active.shop-type-left-item {
    color: #F3542D;
    background-color: #ACACAC;
    border-left-color: #F3542D;
}

.shop-type-left-item img, .shop-type-left-item span {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    float: left;
}

.shop-type-all {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 46px;
    left: 0;
    bottom: 0;
}

.shop-type-right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50%;
    background-color: #F6F6F6;
    position: absolute;
    top: 46px;
    right: 0;
    bottom: 0;
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.shop-type-right-item {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    text-indent: 20px;
}

.shop-list-banner {
    position: absolute;
    top: 46px;
    left: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
    display: table;
    border-bottom: 1px solid #E4E4E4;
}

.shop-list-banner div {
    display: table-cell;
    width: 33%;
    line-height: 30px;
    text-align: center;
}

.shop-list-banner span {
    max-width: 80px;
    position: relative;
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
}

.shop-list-banner b {
    font-size: 0;
    position: absolute;
    height: 0;
    width: 0;
    border: solid transparent;
    border-top-color: #c2c2c2;
    border-width: 5px 6px;
    right: 3px;
    top: 13px;
}

.shop-list-location {
    background: url("img/banner-location.png") no-repeat scroll left center;
    background-size: 25px 25px;
}

.shop-list-type {
    background: url("img/banner-type.png") no-repeat scroll left center;
    background-size: 13px 8px;
}

.shop-list-order {
    background: url("img/banner-order.png") no-repeat scroll left center;
    background-size: 25px 25px;
}

.shop-list-content {
    position: absolute;
    top: 76px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #f6f6f6;
}

.shop-list-item {
    overflow: hidden;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #E7E7E7;
    float: left;
}

.shop-list-item-img {
    width: 92px;
    height: 70px;
    background-color: #ffffff;
    padding: 2px;
    margin: 5px;
    float: left;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.shop-list-item-img img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.shop-list-item-content {
    height: 70px;
    margin: 5px 5px 0;
}

.shop-list-item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    height: 27px;
}

.shop-list-item-address {
    font-size: 14px;
    color: #747474;
    line-height: 27px;
    height: 27px;
}

.shop-list-item-info {
    margin-top: 5px;
    line-height: 16px;
    height: 16px
}

.shop-list-item-star {
    float: left;
    width: 70px;
    height: 16px;
}

.shop-list-item-star0 {
    background: url("img/star0.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star5 {
    background: url("img/star5.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star10 {
    background: url("img/star10.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star15 {
    background: url("img/star15.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star20 {
    background: url("img/star20.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star25 {
    background: url("img/star25.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star30 {
    background: url("img/star30.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star35 {
    background: url("img/star35.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star40 {
    background: url("img/star40.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star45 {
    background: url("img/star45.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-star50 {
    background: url("img/star50.png") no-repeat scroll center center;
    background-size: 70px 14px;
}

.shop-list-item-location {
    padding-left: 20px;
    height: 16px;
    background: url("img/gps.png") no-repeat scroll left -6px;
    background-size: 25px 25px;
    float: right;
    font-size: 12px;
    text-align: right;
}

.shop-loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: -80px;
    background: url("img/loading.png") no-repeat scroll center top;
    background-size: 100px 100px;
    text-align: center;
    padding-top: 100px;
    font-size: 16px;

}

.shop-nodata {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: -80px;
    background: url("img/list-nodata.png") no-repeat scroll center top;
    background-size: 100px 100px;
    text-align: center;
    padding-top: 100px;
    font-size: 16px;
}

.shop-detail {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 46px;
    left: 10px;
    bottom: 0;
    right: 10px;
    padding: 10px 0;
}

.shop-detail-title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-detail-basic {
    overflow: hidden;
    width: 100%;
    height: 81px;
    border-bottom: 1px solid #cdcdcc;
    padding-bottom: 10px;
}

.shop-detail-basic-img {
    width: 92px;
    height: 70px;
    background-color: #ffffff;
    padding: 2px;
    float: left;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: hidden;
    margin: 2px 10px 0 2px;
}

.shop-detail-basic-img img {
    max-height: 100%;
    max-width: 100%;
}

.shop-detail-basic-content {
    height: 81px;
}

.shop-detail-basic-content div {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
}

.shop-detail-basic-star .shop-label {
    float: left;
    height: 27px;
    line-height: 27px;
    width: auto;
}

.shop-detail-basic-star span {
    float: left;
    width: 70px;
    height: 27px;
    line-height: 27px;
}

.shop-list-item-cost {
    font-size: 14px;
}

.shop-detail-item {
    display: block;
    color: #000000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cdcdcc;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 21px;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.shop-detail-item-title {
    color: #f3542d;
    font-size: 16px;
}

.shop-detail-item.shop-next {
    padding-right: 30px;
    background: url("img/shop-back.png") scroll right center no-repeat;
    background-size: 9px 15px;
}

.shop-detail-item-location {
    display: inline-block;
    padding-left: 12px;
    height: 16px;
    background: url("img/gps.png") no-repeat scroll -8px -3px;
    background-size: 25px 25px;
}

.shop-other-img {
    height: 90px;
    display: table;
    width: 100%;
}

.shop-other-img div {
    display: table-cell;
    width: 80px;
    height: 60px;
    background-color: #ffffff;
    padding: 2px;
    float: left;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: hidden;
    margin-right: 5px;
}

.shop-other-img img {
    max-height: 100%;
    max-width: 100%;
}

.shop-list-ads {
    width: 100%;
    height: 80px;
}

.shop-list-ads img {
    width: 100%;
    height: 100%;
}

.shop-city-title {
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    color: #f3542d;
    background-color: #d4d4d4;
    font-size: 14px;
    border-bottom: 1px solid #cccdcc;
}

.shop-city-content {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccdcc;
}

.shop-search-fastbar {
    position: absolute;
    top: 92px;
    right: 0;
    width: 60px;
    bottom: 0;
}

.citys-search-fastbar-item {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    width: 20px;
    padding: 0 10px 0 30px;
    text-align: center;
}
