.subscribe-sidebar {
    width: 75px;
    float: left;
    height: 100%;
    border-right: 1px solid #A6A6A6;
    font-size: 16px;
    position: relative;
}

.subscribe-list {
    height: 100%;
}

.subscribe-sidebar-item {
    width: 75px;
    line-height: 50px;
    text-align: center;
    height: 50px;
}

.active.subscribe-sidebar-item {
    color: #F3542D;
    background-color: #DDDDDD;
    border-left: 1px solid #F3542D;
    width: 74px;
}
