.slide {
    width: 225px;
    background: #383838;
    border-right: 2px solid #272727;
    height: 100%;
    position: absolute;
    top: 0;
    left: -227px;
}

.slide-header {
    width: 225px;
    height: 40px;
    line-height: 40px;
    background: url("img/slide-logo.png") no-repeat scroll center 7px #353839;
    background-size: 60px 32px;
    text-align: center;
    font-size: 16px;
    color: #c9c9c9;
    padding-top: 32px;
    padding-bottom: 20px;
}

.slide-item {
    width: 165px;
    padding-left: 60px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #c9c9c9;
    border-right: 2px solid transparent;
}

.active.slide-item {
    background-color: #F3542D;
    border-color: #aa3b1f;
}

.slide-shop {
    background: url("img/slide-shop.png") no-repeat scroll 20px center #272727;
    background-size: 19px 19px;
}

.slide-subscribe {
    background: url("img/slide-subscribe.png") no-repeat scroll 20px center;
    background-size: 21px 21px;

}

.slide-notice {
    background: url("img/slide-notice.png") no-repeat scroll 20px center #272727;
    background-size: 16px 23px;
}

.slide-compass {
    background: url("img/slide-compass.png") no-repeat scroll 20px center;
    background-size: 21px 21px;

}

.slide-more {
    background: url("img/slide-more.png") no-repeat scroll 20px center #272727;
    background-size: 20px 7px;
}
