<div class="shop-list-item">
    <div class="shop-list-item-img">
        <img src="{{DWXX_TP}}"/>
    </div>
    <div class="shop-list-item-content">
        <div class="shop-list-item-title line">{{DWXX_MC}}</div>
        <div class="shop-list-item-address line">{{DWXX_DZ}}</div>
        <div class="shop-list-item-info">
            <span class="shop-list-item-star shop-list-item-star{{DWXX_XJ}}"></span>
            <span class="shop-list-item-location">{{DWXX_JL}}</span>
        </div>
    </div>
</div>
