.ui-nav-default {
    background-color: #203854;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: table;
}

.ui-nav-default-item {
    display: table-cell;
    overflow: hidden;
    text-align: center;
}

.ui-nav-default-item a {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 64px;
    color: #49AAEE;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    line-height: 80px;
}

.ui-nav-default-cigarette {
    background-position: 18px 8px;
}

.ui-nav-default-free {
    background-position: 17px -42px;
}

.ui-nav-default-message {
    background-position: 16px -90px;
}

.ui-nav-default-user {
    background-position: 16px -140px;
}

.ui-nav-default-more {
    background-position: 17px -192px;
}

.active .ui-nav-default-cigarette {
    background-position: -53px 8px;
}

.active .ui-nav-default-free {
    background-position: -53px -42px;
}

.active .ui-nav-default-message {
    background-position: -53px -90px;
}

.active .ui-nav-default-user {
    background-position: -53px -140px;
}

.active .ui-nav-default-more {
    background-position: -53px -192px;
}
