.more-group {
    background: #ffffff;
    border: 1px #bcbab6 solid;
    border-radius: 7px 7px;
    width: 300px;
    margin: 15px auto 0;
}

.more-line {
    height: 0px;
    border-bottom: 1px #bcbab6 solid;
    width: 100%;
}

.more-item {
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    background: url(img/next.png) no-repeat scroll 275px 13px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    font-size: 18px;
}